################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Advance API Training/Advance C#/Code/FinalDemo_Advance_C#/FinalDemo_Advance_C#.csproj
/Advance API Training/Advance C#/Code/FinalDemo_Advance_C#/FinalDemo_Advance_C#.csproj
