<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true" 
	  internalLogLevel="Trace" 
	  internalLogFile="${currentdir}\logs\internallog.txt" >
	
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<!--<add assembly="NLog.Extended"/>-->
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Database"/>
	</extensions>

	<targets>
		
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="Information" 
				fileName="${basedir}\logs\Information\${date:format=dd-MM-yyyy}.txt"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} "
				createDirs ="true" enableFileDelete ="true"/>
		
		<target xsi:type="File" name="Debug" 
				fileName="${currentdir}\logs\Debug\${date:format=dd-MM-yyyy}.txt"
				layout="${longdate} | ${level:uppercase=true} | ${logger}| ${message}" />
		
		<target xsi:type="File" name="Warning" 
				fileName="${currentdir}\logs\Warning\${date:format=dd-MM-yyyy}.txt"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} " />
		
		<target xsi:type="File" name="Error" 
				fileName="${currentdir}\logs\Error\${date:format=dd-MM-yyyy}.txt"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
		
		<target xsi:type="File" name="Critical" 
				fileName="${currentdir}\logs\Critical\${date:format=dd-MM-yyyy}.txt"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
		
		<target xsi:type="File" name="Trace" 
				fileName="${currentdir}\logs\Trace\${date:format=dd-MM-yyyy}.txt"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} " />

		<!-- Database Target to save logs into MySQL -->
		<target xsi:type="Database" name="DatabaseTarget" 
				dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
				connectionString="Server=localhost;User ID=Admin;Password=gs@123;Database=practice_db">
			<commandText>
				INSERT INTO logtable (TimeStamp, Level, Logger, Message, Exception)
				VALUES (@timeStamp, @level, @logger, @message, @exception);
			</commandText>
			<parameter name="@timeStamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
			<parameter name="@level" layout="${level:uppercase=true}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>
		
		<!-- Other targets like console, database, etc. can be added here -->
	</targets>
	<rules>

		<logger name="*" level="Info" writeTo="Information" />
		<logger name="*" level="Debug" writeTo="Debug" />
		<logger name="*" level="Warn" writeTo="Warning" />
		<logger name="*" level="Error" writeTo="Error,DatabaseTarget" />
		<logger name="*" level="Fatal" writeTo="Critical" />
		<logger name="*" level="Trace" writeTo="Trace" />

		<!--<logger name="*" minlevel="Trace" writeTo="DatabaseTarget" />-->
		
		<!-- Other rules can be added here -->
	</rules>
</nlog>
